/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-May-2021, 6:41:17 pm
    Author     : my pc
*/
.header{
    background-color:#000;
    color:#fff;
    border-color: #080808;
    min-height: 50px;
    border: 1px solid transparent;
}

.innerheader{
    width:90%;
    margin:auto;
    
}
.content{
    min-height: 600px;
}

.banner-img{
    padding-bottom: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #f8f8f8;
    background-image:url("intro-bg_1.jpg");
    background-size: cover;
}

.inner-bannerimg{
    padding-top: 12%;
    width:80%;
    margin:auto;
    align-content: center;
}

.banner-content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    overflow:hidden;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
    background-position:center;
}

.button{
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px
}

#content{
    
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    max-width: 450px;
    padding:30px 20px;
    margin-top:50px;
    color:white;
}

#center{
    margin-left: auto;
    margin-right: auto;
    display:block;
    width:50%;
}

.thumbnail{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    width:90%;
    margin:auto;
    overflow:hidden;
}

.items{
    width:30%;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    float:left;
    margin-left:1%;
}

.captions{
    color:#000;
    padding:0px 10px 10px;
    font-weight: bold;
    text-align: center;

}

img{
    text-align: center;
}

.logo{
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 17px;
    font-weight: bold;

}

.header-link{
    float:right;
    font-size:14px;
    height: 50px;
    padding: 15px 15px;
    font-size:16px;
    font-weight: bold;
}

footer{
    text-align: center;
    background-color: black;
    color:white;
}

nav{
    background-color: black;
    color:white;
}

.row_style{
    margin-top: 100px;
}

.panel{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.jumbotron{
    margin-top: 100px;
}

.col-md-3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.col-sm-6{
    margin-top: 30px;
    margin-bottom: 30px;
}

table{
    margin-top: 100px;
}

#success{
    text-align: center;
    color:palevioletred;
    margin-top: 100px;
}

a.active, a:hover{
    background: #000;
    transition:0.5s;
}

.checkbtn{
    font-size: 30px;
    color:white;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display:none;
}

@media (max-width:952px){
    nav ul li a{
        font-size: 16px;
    }
    
    @media (max-width:858px){
        .checkbtn{
            
            display: block;
           }
           ul{
               position:fixed;
               width: 100%;
               height: 100vh;
               background: black;
               top:80px;
               left:-100%;
               text-align: center;
               transition: all 0.5s;
           }
           
           nav ul li{
               display:block;
               margin: 50px 0px;
               line-height: 30px;
           }
           
           nav ul li a{
               font-size:20px;
               
           }
           
           a:hover, a.active{
               background: none;
               color:white;
           }
           
           #check:checked~ul{
               left:0
           }
    }  
    
}

section{
    background: url("intro-bg_1.jpg") no-repeat;
    background-size: cover;
    height: calc(100vh-80px);
}
